body {
    margin: 0;
    padding: 0;
    background-color: grey;
    font-family: sans-serif;
    font-size: 23px;
}
.container {
    width: 1000px;
    min-height: 1000px;
    margin: 0 auto;
    background-image: url('../letItBe.jpg');
    color: white;
}
.beatle {
    background-color: rgba(255, 0, 0, 0.775);
    width: 200px;
}
#john {
    margin-left: 60px;
}
h3, p {
    margin: 0;
    padding: 0;
}

.naam{
    border-left: solid 9px red;
    padding-left: 9px;
}