html, body{
    margin: 0;
    padding: 0;
}

img{
    max-width: 100%;
}
body{
    font-family: sans-serif;
    background-color: #e3f8a4;
    color: olive;
    
}
img{
    max-width: 100%;
}

nav{
    background-color: rgb(14, 73, 14);

}
nav a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 5px 10px;
    width: 200px;
    float: left;
    text-align: center;
    background-color:rgb(14, 73, 14)
}
nav a:hover{
    background-color: rgb(29, 51, 22);
}

h1 {
    clear: both;
    margin: 0;
    color: white;
    background-color: red;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif

}

footer{
    background-color: #333;
    color: #CCC;
    padding: 10px 30px;
}